<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrew.hassapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
       <!-- </activity>-->
        <activity
            android:name=".Login"
            android:label="HASSAPP"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree1"
            android:label="@string/title_activity_tree1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree2"
            android:label="@string/title_activity_tree2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree3"
            android:label="@string/title_activity_tree3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tutorial"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree4"
            android:label="@string/title_activity_tree4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree5"
            android:label="@string/title_activity_tree5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree6"
            android:label="@string/title_activity_tree6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree7"
            android:label="@string/title_activity_tree7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree8"
            android:label="@string/title_activity_tree8"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree9"
            android:label="@string/title_activity_tree9"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree10"
            android:label="@string/title_activity_tree10"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tree11"
            android:label="@string/title_activity_tree11"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HACCPLIST"
            android:label="@string/title_activity_haccplist"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>